version: '3'

services:
  docker_escape1:
    init: true
    tty: true
    restart: unless-stopped
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 3
    build: ./docker_escape
    cap_drop:
    - ALL
    container_name: docker_escape1
    hostname: docker_escape1
    volumes:
    - /var/run/docker.sock:/var/run/docker.sock:rw
    cap_add:
    - CHOWN
    - SETGID
    - SETUID
    - SYS_CHROOT
    - AUDIT_WRITE
    - SYS_PTRACE
    - LINUX_IMMUTABLE
    - DAC_OVERRIDE
    - CAP_FOWNER
    networks:
      escape_net:
        ipv4_address: 172.20.0.2

  docker_escape2:
    init: true
    tty: true
    restart: unless-stopped
    healthcheck:
      interval: 30s
      timeout: 10s
      retries: 3
    build: ./docker_escape
    cap_drop:
    - ALL
    container_name: docker_escape2
    hostname: docker_escape2
    cap_add:
    - CHOWN
    - SETGID
    - SETUID
    - SYS_CHROOT
    - AUDIT_WRITE
    - SYS_PTRACE
    - LINUX_IMMUTABLE
    - DAC_OVERRIDE
    - CAP_FOWNER
    - SYS_ADMIN
    - SYS_MODULE
    networks:
      escape_net:
        ipv4_address: 172.20.0.3

networks:
  escape_net:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.20.0.0/16
          gateway: 172.20.0.1
